.section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 30px;
    align-items: center;

}
.btn {
    width: 200px;
    margin: 15px auto;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;

}

.btn:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}
